# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables file
.env

# Ignore Git files
.git
.gitignore

# Ignore Docker compose files
docker-compose.yml

# Ignore directories for certbot that are not needed during build
nginxs/dir/data/certbot/conf/
nginxs/dir/data/certbot/www/

# Ignore .htpasswd file if sensitive
nginxs/dir/.htpasswd

# Ignore IDE files
.vscode/
.idea/
*.swp
